<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="charset=utf-8" />
	<meta http-equiv="Content-Language" content="fr" />
	<meta name="author" content="Les Bammers" />
	<link href ="style/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="style/css/home.css" rel="stylesheet" media="all" type="text/css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
<!-- 	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>	 -->
	
	<script src="js/app.js"></script>
	<script src="js/config-route.js"></script>
    <script src="js/service/client_service.js" ></script>
    <script src="js/service/uploadfile_service.js" ></script>
    <script src="js/controller-route.js"> </script>
	<title>Devenir client</title>
</head>
<header>
	<a href="index.html" class="navbar-left"><img id ="logo" src="img/logo.jpg"></a>
	<!-- barre de navigation -->
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="index.html">Accueil</a></li>
<!-- 	      <li><a href="#">A propos</a></li> -->
<!-- 	      <li><a href="#">Actualités</a></li> -->
<!-- 	      <li><a href="#">Services</a></li> -->
<!-- 	      <li><a href="contact.html">Contact</a></li> -->
	    </ul>
	    </div>
	  </div>
	</nav>
	<!-- boutons -->
	<div id="connexion" class ="navbar">
		<input type="button" value="Devenir client" class ="btn btn - primary btn -xs"   onclick="javascript:location.href='newclient.html'">
		<input type="button" value="Connexion" class ="btn btn - primary btn -xs"   onclick="javascript:location.href='se_connecter.html'">
	</div>
</header>
<body ng-app="myApp">
	<div class="container" id="newcl" ng-controller="newClCtrl as ctrl">
	  <h2>Devenir client</h2>
	  <form class="form-horizontal" name="myForm" ng-submit="submit(client)">
	  <div class="form-group">
		  <label class="control-label col-sm-2" for="civ">Civilité : </label>
		  <div class="col-sm-3">
		    <select class="form-control" id="civ" ng-model="client.civilite" required>
	        <option>Monsieur</option>
	        <option>Madame</option>
	      </select>
		  </div>
		</div>
	   <div class="form-group">
	        <label class="control-label col-sm-2" for="nom">Nom</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom" ng-model="client.nom" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="prenom">Prénom</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prénom" ng-model="client.prenom" required>
	    </div>
  		</div>	
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="date">Date de naissance : </label>
	    <div class="col-sm-3">
	      <input type="date" class="form-control" id="date" placeholder="Entrez votre date de naissance" ng-model="client.ddn" required>
	    </div>
  		</div>	
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="adresse">Numero : </label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="adresse" placeholder="Entrez votre adresse"ng-model="client.adresse.numero" required>
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="rue">Rue : </label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="rue" placeholder="Entrez votre rue" ng-model="client.adresse.rue" required>
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="ville">Ville : </label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="ville" placeholder="Entrez votre ville" ng-model="client.adresse.ville" required>
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="cp">Code Postal : </label>
	    <div class="col-sm-3">
	      <input type="number" min="0"  max="99999" class="form-control" id="cp" placeholder="Entrez votre code postal" ng-model="client.adresse.codePostal" required>
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="telephone">Telephone : </label>
	    <div class="col-sm-3">
	      <input type="tel" class="form-control" id="telephone" placeholder="Entrez votre telephone" ng-model="client.adresse.telephone" required>
	    </div>
  		</div>
  		<div class="form-group">
		  <label class="control-label col-sm-2" for="email">Email:</label>
		  <div class="col-sm-3">
		    <input type="email" class="form-control" id="email" placeholder="Entrez votre email : " ng-model="client.adresse.mail" required>
		  </div>
		</div>
  		<div class="form-group">
		  <label class="control-label col-sm-2" for="sm">Situation matrimoniale : </label>
		  <div class="col-sm-3">
		    <select class="form-control" id="situationMatrimoniale" ng-model="client.situationMatrimoniale" required>
	        <option value="0">Célibataire</option>
	        <option value="1">Marié(e)</option>
	        <option value="2">Divorcé(e)</option>
	        <option value="3">veuf(ve)</option>
	      </select>
		  </div>
		</div>
		<div class="form-group">
	    <label class="control-label col-sm-2" for="enfants">Nombre d'enfants : </label>
	    <div class="col-sm-3">
	      <input type="number" min="0" class="form-control" id="enfants" placeholder="Entrez votre nombre d'enfants" ng-model="client.enfants" required>
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="pro">Votre profession : </label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="profession" placeholder="Entrez votre profession" ng-model="client.profession" required>
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="revenus">Vos revenus mensuels : </label>
	    <div class="col-sm-3">
	      <input type="number" min="0" class="form-control" id="revenus" placeholder="Entrez vos revenus mensuels" ng-model="client.salaire" required>
	    </div>
  		</div>
 
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="salary1">Vos 3 derniers bulletins de salaire : </label>
	    <div class="col-sm-3">
<!-- 	    	<input type="file" id="salary1" name="file"  -->
<!-- 	    		onchange="angular.element(this).scope().uploadFile(file, angular.element(this).scope().sid, 'salary1')" required /> -->
<!--  <script> -->
<!-- var sid = Math.floor(Math.random() * 1000000);//"xx";  -->

<!-- function uploadFile(file){ -->
<!--     var url = '/SpringAngularStartProject/singleUpload/s-' + sid; -->
<!--     var xhr = new XMLHttpRequest(); -->
<!--     var fd = new FormData(); -->


<!-- //     $http.post(url, fd, { -->
<!-- //         withCredentials: true, -->
<!-- //         headers: {'Content-Type': undefined }, -->
<!-- //         transformRequest: angular.identity}) -->
<!-- //         .then( -->
<!-- //             function (response) { -->
<!-- //                 deferred.resolve(); -->
<!-- //             }, -->
<!-- //             function(errResponse){ -->
<!-- //                 console.error('Error while saving file::'); -->
<!-- //                 console.log(errResponse); -->
<!-- //                 deferred.reject(errResponse); -->
<!-- //             } -->
<!-- //         ); -->
<!-- //         return deferred.promise;	 -->
<!-- //     } -->
<!--      xhr.open("POST", url, true); -->
<!--     xhr.onreadystatechange = function() { -->
<!--         if (xhr.readyState == 4 && xhr.status >= 200 && xhr.status < 300) { -->
<!--             // Every thing ok, file uploaded -->
<!--             //sid = xhr.responseText; -->
<!--             console.log(xhr.responseText); // handle response. -->
<!--         } -->
<!--     }; -->
<!--     fd.append("file", file); -->
<!--     //fd.append("sid", sid); -->
<!--     xhr.send(fd); -->
<!-- } -->

<!-- var uploadsalary1 = document.querySelector('#salary1'); -->
<!-- uploadsalary1.addEventListener('change', function () { -->
<!-- 	    var file = this.file; -->


<!-- // 	    for(var i=0; i<files.length; i++){ -->
<!-- // 	        uploadFile(this.files[i]); // call the function to upload the file -->
<!-- // 	    } -->
<!-- // 	}, false); -->


<!-- /* 		uploadFile(file); -->
<!-- / 	}, false);*/ -->

<!--   </script>   -->

	    
<!-- 	      <input type="file" id="file" name="file"  -->
<!-- 			onchange="angular.element(this).scope().uploadFile(angular.element(this).file, angular.element(this).scope().sid, 'salary1')"	      	   -->
<!-- 	      	required/> -->

<!-- ngf-select="uploadFile(file, angular.element(this).scope().sid, 'salary1')" -->

<!-- ngf-select="angular.element(this).scope().uploadFile(angular.element(this).file, angular.element(this).scope().sid, 'salary1')" -->

 
	    </div>
  		</div>


  		<div class="form-group">
	    <label class="control-label col-sm-2" for="dom">Votre justificatif de domicile : </label>
	    <div class="col-sm-3">
	      <input type="file" class="form-control" id="dom">
	    </div>
  		</div>
  		<div class="form-group">
	    <label class="control-label col-sm-2" for="cni">Votre pièce d'identité : </label>
	    <div class="col-sm-3">
	      <input type="file" class="form-control" id="cni">
	    </div>
  		</div>
  		<div class="form-group">
			  <label class="control-label col-sm-3" for="ouv">Montant pour l'ouverture (minimum 10€) : </label>
			  <div class="col-sm-3">          
			    <input type="number" min="10" class="form-control" id="ouv" ng-model="client.comptes[0].transactions[0].montant" placeholder="Entrez le montant désiré : ">
			  </div>
		</div>
		<div class="form-group">        
		  <div class="col-sm-offset-2 col-sm-10">
		    <button type="submit" class="btn btn-default"ng-disabled="myForm.$invalid">Valider ma demande</button>
		  </div>
		</div>

	  </form>
	</div>
</body>
</html>