<div class="panel-header" ng-app="">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Affectation</li>
					</ul>
				</div>
</div>
<div class="panel-body">
	<legend>Affectation</legend>
 <div class="table-responsive">          
  <table class="table">
  <caption>Vous avez ${{x}} demandes en attentes d'affectation</caption>
    <thead>
      <tr>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Détails</th>
		<th>Etat dossier</th>
		<th>Conseiller</th>
		<th>Validation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="">
        <td ng-bind=""></td>
        <td ng-bind=""></td>
        <td ng-bind=""><a href="#">Détails</a></td>
        <td ng-bind=""><input type="checkbox" class="form-control"></td>
        <td ng-bind="">
        	<select class="form-control" >
        		<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
        	</select>
        </td>
        <td ng-bind=""><input type ="button" class="btn btn-default" value="Valider"></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>