<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="charset=utf-8" />
	<meta http-equiv="Content-Language" content="fr" />
	<meta name="author" content="Les Bammers" />
	<link href ="../style/css/bootstrap.min.css" rel="stylesheet"/>
	<link href ="../style/css/page.css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Accueil BamBank</title>
</head>
<body>
	<legend>Affectation</legend>
 <form action="">
 <div class="table-responsive">          
  <table class="table">
  <caption>Vous avez ${{x}} demandes en attentes d'affectation</caption>
    <thead>
      <tr>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Détails</th>
		<th>Etat dossier</th>
		<th>Conseiller</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TEST</td>
        <td>test</td>
        <td><a href="#">détails</a></td>
        <td><input type="checkbox" checked="checked" class="form-control"></td>
        <td>
        	<select class="form-control">
        		<option>KERVIEL Jérome</option>
        		<option>MALTESE Corto</option>
        		<option>POUTINE Vladimir</option>
        	</select>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <input type ="submit" class="btn btn-default" value="Valider affectations">
  </form>
</body>
</html>