<div class="panel-body" >
<!-- 	<legend>Agios de Numéro Compte:{{agio.numCpt}}</legend> -->
	
<div class="table-responsive">
		<table class="table">
 			<thead>Total des operations qui seront comptabilisés a la fin du mois</thead>
 			<thead>
		 		<tr>
		    		<th>Crédit</th>
		    		<th>Débit</th>
    	  		</tr>
	  		</thead>
  			<tbody>
		  		<tr>
		    		<td>{{agio[0]}}</td>
		    		<td>{{agio[1]}}</span></td>
		    	</tr>
  			</tbody>
  		</table>
<!--   		<pre>Solde: {{agio.balance}}</pre> -->
</div>
</div>
