 <div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Détail compte : {{cpt.numCpt}} </li>
					</ul>
				</div>
</div>
<div class="panel-body" >
	<legend>Fiche Client</legend>
	<div >
<div class="table-responsive">
		<table class="table">
 			<thead>
		 		<tr>
		    		<th>Libellé</th>
		    		<th>Crédit</th>
		    		<th>Débit</th>
		    		<th>Date</th>
		    		
		  		</tr>
	  		</thead>
  			<tbody>
		  		<tr ng-repeat="t in cpt.transactions">
		    		<td></td>
		   			<td><span ng-if="t.type==1">{{t.montant}}€</span></td>
		    		<td><span ng-if="t.type==2">{{t.montant}}€</span></td>
		    		<td>{{t.dateFin}}</td>
		   		</tr>
  			</tbody>
  		</table>
  	<pre><h4>Solde : {{cpt.balance}}€</h4></pre>
 </div>
 </div>