<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Contacter Conseiller</li>
					</ul>
				</div>
<div class="panel-body">

<form class="form-inline">

        <legend>CONTACT VOTRE CONSIELLER</legend>
        <br><br>
        <p>
            <label for="n1"><h3>Sujet de votre message</h3></label>
                <select name="sujet" id="sujet" class="form-control">
                    <option value="rdv">Rendez vous</option>
                    <option value="demande">Demande de overture de compte</option>
                    <option value="demande">Services</option>
                    <option value="demande">Autres</option>
                </select>
        </p>
       <br><br>
        
        <p>
            <label for="n2"><h3>Votre Message</h3></label>
            <textarea id="msg" class="form-control" name="msg" maxlength="200" rows="5" cols="30"></textarea>           
        </p>
        <br>
       
        <p>
            <input type="file" id="fichers" name="fichers" multiple />
        </p>

        <p>
            <br><br>
            <button type="button" class= "btn btn-success btn-sm">Envoyer</button>
        </p>

</form>  
     </div>
	        