<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Notifications</li>
					</ul>
				</div>
</div>
<div class="panel-body">
	<h4>Notifications</h4>
    <div class="table-responsive">          
	  <table class="table">
	  <caption>Liste des comptes</caption>
	    <thead>
	      <tr>
			<th>Type</th>
			<th>Auteur</th>
			<th>Message</th>
			<th>Supprimer</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="">
	        <td ng-bind=""></td>
	        <td ng-bind=""></td>
	        <td ng-bind=""></td>
	        <td><input type='button' onClick='' value = 'Supprimer' class="btn btn-default"/></td>
	      </tr>
	    </tbody>
	  </table>
	 </div>
</div>