<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Notifications</li>
					</ul>
				</div>
</div>
<div class="panel-body">
	<h4>Notifications</h4>
    <div class="table-responsive">          
	  <table class="table">
	  <caption>Liste des comptes</caption>
	    <thead>
	      <tr>
			<th>Date</th>
			<th>Message</th>
			<th></th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="n in notif">
	      <tr ng-repeat="notif in n.notifications">
	        <td>{{notif.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
	        <td>{{notif.message}}</td>
	        <td><input type='button' onClick='' value = 'Supprimer' class="btn btn-default"/></td>
	      </tr>
	    </tbody>
	  </table>
	 </div>
</div>