<div class="panel-header" ng-app="">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#/">Accueil</a></li>
						<li class="active">Demande</li>
						<li class="active" ng-show="choix==1">Commande chéquier</li>
<!-- 						<li class="active" ng-show="choix==2">Changer de type de compte</li> -->
						<li class="active" ng-show="choix==3">Ouvrir un nouveau compte</li>
					</ul>
				</div>
</div>
<div class="panel-body">
	<label class="control-label" for="demande">Que souhaitez-vous faire?</label>
    <select class="form-control" ng-model="choix">
    	<option value="1">Commander un chéquier</option>
    	<option value="2">Changer de type de compte</option>
    	<option value="3">Ouvrir un nouveau compte</option>
    </select>
    <div ng-show="choix==1">
	    <h4>Commander un chéquier</h4>
	    <div class="table-responsive">          
		  <table class="table">
		  <caption>Liste des comptes</caption>
		    <thead>
		      <tr>
				<th>Compte</th>
				<th>Numéro</th>
				<th>Solde</th>
				<th>Chéquier</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="c in util.comptes">
		        <td></td>
		        <td>{{c.numCpt}}</td>
		        <td>{{c.balance}}</td>
		        <td><input type='button' ng-Click='commanderChequier(util.id,c.numCpt)' value = 'Commander'  class="btn btn-default"/></td>
		      </tr>
		    </tbody>
		  </table>
		 </div>
	</div>
<!-- 	<div ng-show="choix==2"> -->
<!-- 		<h4>Changer de type de compte</h4> -->
<!-- 		<div class="table-responsive">           -->
<!-- 		  <table class="table"> -->
<!-- 		  <caption>Liste des comptes</caption> -->
<!-- 		    <thead> -->
<!-- 		      <tr> -->
<!-- 				<th>Compte</th> -->
<!-- 				<th>Numéro</th> -->
<!-- 				<th>Solde</th> -->
<!-- 				<th>Type</th> -->
<!-- 				<th>Demander la modification de type</th> -->
<!-- 		      </tr> -->
<!-- 		    </thead> -->
<!-- 		    <tbody> -->
<!-- 		      <tr ng-repeat=""> -->
<!-- 		        <td ng-bind=""></td> -->
<!-- 		        <td ng-bind=""></td> -->
<!-- 		        <td ng-bind=""></td> -->
<!-- 		        <td ng-bind=""></td> -->
<!-- 		        <td><input type='button' onClick='' value = 'Modifier' class="btn btn-default"/></td> -->
<!-- 		      </tr> -->
<!-- 		    </tbody> -->
<!-- 		  </table> -->
<!-- 		 </div> -->
<!-- 	</div> -->
	<div ng-show="choix==3">
		<h4>Ouvrir un nouveau compte</h4>
		<div class="container" id="newcl">
		  <form class="form-horizontal" name="myForm" ng-submit="open(util, mont)">
			<div class="form-group">
			  <label class="control-label col-sm-3" for="ouv">Montant pour l'ouverture (minimum 10€) : </label>
			  <div class="col-sm-3">          
			    <input type="number" min="10" class="form-control" ng-model="mont" id="ouv" placeholder="Entrez le montant désiré : ">
			  </div>
			</div>
			<div class="form-group">        
			  <div class="col-sm-offset-2 col-sm-10">
			    <button type="submit" class="btn btn-primary">Valider ma demande</button>
			  </div>
			</div>
		  </form>
		</div>
	</div>
</div>
</div>