<br>
<legend>RECHERCHER CLIENT</legend>
<div> 

        <form ng-controller= "searchNomCtrl" ng-submit="src(client)">         
            <br><br>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="client.nom" placeholder="nom">
            </div>      
               
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="client.prenom" placeholder="prénom">
            </div>         
                
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="client.cpte" placeholder="numéro de compte">
            </div>
<!--             <a href="#search_nom/{{nom}}" class="btn btn-default">Recherche</a>  -->

			<button type="submit" class= "btn btn-success btn-sm">Rechercher</button>
			
         </form>
    <br><br><br> 
    <div class="table-responsive">     
	<table class="table">
		<caption>{{users.length}} résultats correspondent à votre recherche</caption>
 		<thead>
 		<tr>
 			<th>Nom</th>
    		<th>Prénom</th>
    		<th>Date de Naissance</th>
    		<th>Ville</th>
    		<th>Téléphone</th>
    		<th>Fiche client</th>
   		</tr>
   		</thead>
   		
   		<tbody>
  		<tr  ng-repeat="c in users">
    		<td>{{c.nom}}</td>
   			<td>{{c.prenom}}</td>
    		<td>{{c.ddn}}</td>
    		<td>{{c.adresse.ville}}</td>
    		<td>{{c.adresse.telephone}}</td>
    		<td><a ng-href="#see_cl/{{c.id}}">Détails</a></td>
  		</tr>
  		</tbody>
  		
  	</table>
	</div>
<script>
//var app = angular.module('myApp', []);
// app.controller('clientsCtrl', function($scope, $http) {
//     $http.get("http://localhost:8080/SpringAngularStartProject/client/")
//     .then(function (response) {$scope.names = response.data.clients;});
// });
</script>