<br>
<legend>RECHERCHER CLIENT</legend>

<div ng-app="myApp" ng-controller="clientsCtrl"> 

<table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Nom</th>
                              <th>Adresse</th>
                              <th>Email</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="u in clientsCtrl">
                              <td><span ng-bind="u.id"></span></td>
                              <td><span ng-bind="u.nom"></span></td>
                              <td><span ng-bind="u.prenom"></span></td>
                              <td><span ng-bind="u.type"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Modifier</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Supprimer</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>

<script>
//var app = angular.module('myApp', []);
app.controller('clientsCtrl', function($scope, $http) {
    $http.get("http://localhost:8080/SpringAngularStartProject/client/")
    .then(function (response) {$scope.names = response.data.clients;});
});
</script>