<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Details Comptes</li>
					</ul>
				</div>

<div class="panel-body">
<legend>COMPTES DETAILS</legend><br><br>
	<form>
		 <div class="table-responsive">
	
	<pre><h4>Type: Compte Ordinaire </h4></pre>
	
	<table class="table">
		
 		<thead>
 		<tr>
    		<th>Libelle</th>
    		<th>Debit</th>
    		<th>Credit</th>
    		<th>date</th>
    		
  		</tr>
  		</thead>

  		<tbody>
  		<tr>
    		<td>Credit</td>
   			<td>-</td>
    		<td>$200</td>
    		<td>17/12/2015</td>
   		</tr>
  		
  		<tr>
    		<td>Debit</td>
   			<td>$500</td>
    		<td>-</td>
    		<td>17/03/2016</td>
   		</tr>

  		<tr>
    		<td>D&eacute;bit</td>
   			<td>$2400</td>
    		<td>-</td>
    		<td>23/09/2016</td>
   		</tr>

  		<tr>
    		<td>Cr&eacute;dit</td>
   			<td>-</td>
    		<td>$4800</td>
    		<td>12/10/2016</td>
   		</tr>
  		
  		</tbody>

  	</table>
  	
  	<pre><h4>Solde : $300</h4></pre>
 
<br><br><br><br>
 <pre><h4>Type: Compte R&eacute;num&eacute;r&eacute;</h4></pre>
	
	<table class="table">
		
 		<thead>
 		<tr>
    		<th>Libelle</th>
    		<th>Debit</th>
    		<th>Credit</th>
    		<th>date</th>
    		
  		</tr>
  		</thead>

  		<tbody>
  		<tr>
    		<td>Credit</td>
   			<td>-</td>
    		<td>$600</td>
    		<td>17/12/2015</td>
   		</tr>
  		
  		<tr>
    		<td>Debit</td>
   			<td>$800</td>
    		<td>-</td>
    		<td>17/03/2016</td>
   		</tr>

  		<tr>
    		<td>D&eacute;bit</td>
   			<td>$250</td>
    		<td>-</td>
    		<td>23/09/2016</td>
   		</tr>

  		<tr>
    		<td>Cr&eacute;dit</td>
   			<td>-</td>
    		<td>$480</td>
    		<td>12/10/2016</td>
   		</tr>
  		
  		</tbody>

  	</table>
  	
  	<pre><h4>Solde : $300</h4></pre>
	</form>
	
</div>	
	