<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Details Comptes</li>
					</ul>
				</div>
</div>
<div class="panel-body">
	<legend>COMPTES DETAILS</legend><br><br>
	 <div class="table-responsive">          
	  <table class="table">
	  <caption>Liste des comptes</caption>
	    <thead>
	      <tr>
			<th>Compte</th>
			<th>Numéro</th>
			<th>Solde</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="cpt in util.comptes">
	        <td></td>
	        <td><a ng-href="#compte/{{cpt.numCpt}}">{{cpt.numCpt}}</a></td>
	        <td>{{cpt.balance}}€</td>
	      </tr>
	    </tbody>
	  </table>
	 </div>
 </div>

</div>	
	