<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li><a href="#search_ag">Recherche</a>
						<li class="active">Fiche client : {{user.nom}} {{user.prenom}} </li>
					</ul>
				</div>
</div>
<div class="panel-body" >
	<legend>Fiche Client</legend>
	<div >
	    <div class="colonne c1">
		    <label class="control-label" for="nom">Nom</label>
		    <input class="form-control" ng-value ="user.nom" ng-model="user.nom" ng-disabled="checked">
		    <label class="control-label" for="prenom">Prénom</label>
		    <input class="form-control" ng-value ="user.prenom" ng-model="user.prenom" ng-disabled="checked">
		    <label class="control-label" for="date">Date de naissance : </label>
		    <input class="form-control" ng-value ="user.ddn" ng-model="user.ddn" ng-disabled="checked">
		    <label class="control-label" for="adresse">Adresse : </label>
		    <input class="form-control" ng-value ="user.adresse.numero + ' ' + user.adresse.rue" ng-model="user.adresse.rue" ng-disabled="checked">
		    <label class="control-label" for="ville">Ville : </label>
		    <input class="form-control" ng-value ="user.adresse.ville" ng-model="user.adresse.ville" ng-disabled="checked">
		    <label class="control-label" for="cp">Code Postal : </label>
		    <input class="form-control" ng-value ="user.adresse.codePostal" ng-model="user.adresse.codePostal" ng-disabled="checked">
	    </div>
	    <div class="colonne c2">
	    	<label class="control-label" for="sm">Situation matrimoniale : </label>
		    <select class="form-control" id="sm" ng-model="user.situationMatrimoniale" ng-disabled="checked">
		        <option>Célibataire</option>
		        <option>Marié(e)</option>
		        <option>Divorcé(e)</option>
		        <option>veuf(ve)</option>
		    </select>
		    <label class="control-label" for="enfants">Nombre d'enfants : </label>
		    <input type="text" class="form-control" ng-value ="user.nbEnfants" ng-model="user.nbEnfants" id="enfants" ng-disabled="checked">
		    <label class="control-label" for="pro">Profession : </label>
		    <input type="text" class="form-control" ng-value ="user.profession" id="pro" ng-model="user.profession" ng-disabled="checked">
		    <label class="control-label" for="revenus">Vos revenus mensuels : </label>
		    <input type="text" class="form-control" id="revenus" ng-disabled="checked">
		    <h4>Documents : </h4>
		    <a href="#">Fiche de salaire 1</a><br>
		    <a href="#">Fiche de salaire 2</a><br>
		    <a href="#">Fiche de salaire 3</a><br>
		    <a href="#">Justificatif de domicile</a><br>
		    <a href="#">Justificatif d'identité</a>
		</div>
	</div>
	Verrouiller les informations : <input type="checkbox" ng-model="checked" ng-init="checked=true"/>
	<div ng-hide="checked">
		<input type="button" value="Valider les modifications" class="btn btn-default">
		<input type="button" value="Annuler les modifications" class="btn btn-default">
	</div>
	 <div class="table-responsive">          
	  <table class="table">
	  <caption>Liste des comptes</caption>
	    <thead>
	      <tr>
			<th>Compte</th>
			<th>Numéro</th>
			<th>Solde</th>
			<th>Modifier découvert</th>
			<th>Modifier seuil d'intérêts</th>
			<th>Chéquier</th>
			<th>Virement</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="cpt in user.comptes">
	        <td></td>
	        <td><a ng-href="#compte/{{user.id}}/{{cpt.numCpt}}">{{cpt.numCpt}}</a></td>
	        <td>{{cpt.balance}}€</td>
	        <td><a href="#">{{montantAutorisationDecouvert}}€</a></td>
	        <td><a href="#">{{montantSeuilMinRemuneration}}€</a></td>
	        <td><input type='button' onClick='' value = 'Commander' class="btn btn-default"/></td>
	        <td><input type='button' onClick='' value = 'Virement' class="btn btn-default"/></td>
	      </tr>
	    </tbody>
	  </table>
	 </div>
</div>