<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Details Comptes</li>
					</ul>
				</div>
</div>
<div class="panel-body">
<legend>VIREMENT</legend><br><br>
	<br><br>
      <form class="form-horizontal" name="myForm" ng-submit="submit(cpt_origine, cpt_dest, mont)">
        <div class="form-group">
                <label class="control-label col-sm-2" for="cpt_src">Compte Origine :</label>
            <div class="col-sm-3">
                 <select class="form-control" ng-options="option.numCpt for option in util.comptes" ng-model="cpt_origine" id="cpt_src">
            </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2" for="cpt_dest">Compte Destination :</label>
            <div class="col-sm-3">
                 <input type="text" class="form-control" id="cpt_dest" ng-model="cpt_dest" placeholder="Compte Destination">
            </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2" for="montant">Montant :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="Montant" ng-model="mont" placeholder="montant">
            </div>
        </div>

      <br><br>
      
        <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
            	<input type="submit" value="Envoyer" class="btn btn-success btn-sm"/>
            </div>
        </div>

      <!--<p id="valid"></p>-->
        
    </form>
</div> 
		 