<div class="panel-header">
            	<div id="navigation_help">
					<ul class="breadcrumb">
						<li><a href="#">Accueil</a></li>
						<li class="active">Informations personelles</li>
					</ul>
				</div>
</div>
<div class="panel-body">
	<legend>Fiche Personnelle</legend>
	<div >
	    <div class="colonne c1">
		    <label class="control-label" for="nom">Nom</label>
		    <input class="form-control" ng-value ="util.nom" disabled>
		    <label class="control-label" for="prenom">Prénom</label>
		    <input class="form-control" ng-value ="util.prenom" disabled>
		    <label class="control-label" for="date">Date de naissance : </label>
		    <input class="form-control" ng-value ="util.ddn" disabled>
		    <label class="control-label" for="adresse">Adresse : </label>
		    <input class="form-control" ng-value ="util.adresse.numero + ' ' + user.adresse.rue" disabled>
		    <label class="control-label" for="ville">Ville : </label>
		    <input class="form-control" ng-value ="util.adresse.ville" disabled>
		    <label class="control-label" for="cp">Code Postal : </label>
		    <input class="form-control" ng-value ="util.adresse.codePostal" disabled>
	    </div>
	    <div class="colonne c2" ng-init ="util.situationMatrimoniale">
	    	<label class="control-label" for="sm">Situation matrimoniale : </label>
		    <select class="form-control" ng-model="util.situationMatrimoniale"  id="sm" disabled>
		        <option>Célibataire</option>
		        <option ng-value="MARRIED">Marié(e)</option>
		        <option>Divorcé(e)</option>
		        <option>veuf(ve)</option>
		    </select>
		    <label class="control-label" for="enfants">Nombre d'enfants : </label>
		    <input type="text" class="form-control" ng-value ="util.nbEnfants" disabled>
		    <label class="control-label" for="pro">Statut : </label>
		    <input type="text" class="form-control" ng-value ="util.profession" id="pro" disabled>

		</div>
	</div>
</div>