/* A APPLIQUER A L'ESPACE CLIENT, CONSEILLER et ADMIN */

@CHARSET "ISO-8859-1";

/* BLOC DE CONTROLE */

html{
	background-color: #CC1D2A;
}
body{
	height:80%;
}

#bloc_page {
	margin: auto;
}

#bloc_control
{
	position: fixed;
    width: 20%;
    margin-top: 10px;
    /*background-color: #CC1D2A;*/
    display:flex;
    justify-content: center;
}

header{
	background-color: #CC1D2A;
   	width: 100%;
    margin: auto;
    padding : 10px;
	/*justify-content: center; */
}

#logo{
	float: left; 
	max-width:140px ;
	height: auto;
}

#ctrl_nav {
	background-color: #white;
}

#disconnect {
	position: fixed;
	margin-top: 20px;
	margin-right: 10px;
}

nav{
	padding : 10px;
	background-color: #CC1D2A;
	min-height:100vh;
}

nav ul{
	background-color: white;
}

a{
	color :#CC1D2A;
}
#contenu{
	min-height:80%;
	background-color: #CC1D2A;
	display:inline-block;

}

header input{
	float:right;
}

section{
	padding:10px;
}
legend{
    color:blue;
    font-family: myFirstFont;
}

 h3{
    color:blue;
    font-family: myFirstFont;
}
.tab{
   	border-collapse: collapse;
   	width: 100%;
}

th, td {
   	text-align: left;
   	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}