
header{
	background-color: #CC1D2A;
	display: flex;
	justify-content: center;
	
}
#logo{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width:140px ;
	height: auto;
	}

nav.navbar{
	margin-top: auto;
	margin-bottom: auto;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-header{
	
}

#connexion.navbar{
	padding-top: 120px;
}


#titre{
	text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 20%;
  margin: auto;
}



#change{
	display: flex;
	justify-content: center;
	padding: 20px;

}

#resultat{
	display: flex;
	justify-content: center;
	padding: 20px;
}

legend{
	color: blue;
	font-family: myFirstFont;
}

