legend{
	color:blue;
	font-family: myFirstFont;
}

h4{
	color:blue;
	font-family: myFirstFont;
}

#Identifiant{
	background: rgba(76, 175, 80, 0.25);
	Position: relative;
	width: 380px;

}
#MotdePasse{
	background: rgba(76, 175, 80, 0.25);
	position: relative;
	width: 380px;
}

header{
	background-color: #CC1D2A;
	display: flex;
	justify-content: left;
}
#logo{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 140px;
	height: auto;
	}

body{
	display: block;
}

/*#formulaire{
	margin-right: 500px;
}/*


